ul.breadcrumb
    li: a(href="/admin") Administrar
    li.active Usuario


div(data-ng-switch="pageState")

    div(data-ng-switch-when="success")
        input.form-control(type='text', placeholder='Buscar', data-ng-model="searchText")
        div.space
        div.row
            div.col-lg2.col-md-3.col-sm-4.col-xs-6.box-cell
                a.box.success(href="/admin/users/create")
                    i.fa.fa-plus.fa-4x.box-image
                    span.box-main-text Nuevo usuario
                

            div.col-lg2.col-md-3.col-sm-4.col-xs-6.box-cell(data-ng-repeat="user in users | filter:searchText| orderBy: predicate:reverse")
                div.box(data-ng-click="openShowDetailDialog(user, 'sm'); $event.stopPropagation();", data-ng-class="{'danger': user.deleted}")
                    img.box-image(data-ng-src="static/img/meteor.png")
                    span.box-main-text {{user.username}}
                    span.box-main-text
                        a(href='', data-ng-href='/admin/users/{{user.id}}', data-ng-click="$event.stopPropagation();" data-ng-if="!user.deleted")
                            i.fa.fa-pencil.tool( 
                                data-ng-class="{'text-warning': modifyHover}", 
                                data-ng-mouseenter="modifyHover = true", 
                                data-ng-mouseleave="modifyHover = false"
                            )

                        a(href='', data-ng-click="openDeleteDialog(user, 'sm'); $event.stopPropagation();", data-ng-if="!user.deleted")
                            i.fa.fa-remove.tool( 
                                data-ng-class="{'text-danger': removeHover}", 
                                data-ng-mouseenter="removeHover = true", 
                                data-ng-mouseleave="removeHover = false"
                            )

                        a(href='', data-ng-click="openRetrieveDialog(user, 'sm'); $event.stopPropagation();", data-ng-if="user.deleted")
                            i.fa.fa-check.tool( 
                                data-ng-class="{'text-success': retrieve}", 
                                data-ng-mouseenter="retrieve = true", 
                                data-ng-mouseleave="retrieve = false"
                            )

                        a(href='', data-ng-click="openHardDeleteDialog(user, 'sm'); $event.stopPropagation();", data-ng-if="user.deleted && $root.isGod()")
                            span.fa.fa-remove.tool( 
                                data-ng-class="{'text-danger': hardRemoveHover}", 
                                data-ng-mouseenter="hardRemoveHover = true", 
                                data-ng-mouseleave="hardRemoveHover = false"
                            )



        script(type="text/ng-template", id="deleteUserModal.html")
            
            .modal-header
                    h3.modal-title Borrar usuario

            .modal-body
                span ¿Estás seguro de que deseas borrar a 
                    b {{userToDelete.username}}
                    span ?
            .modal-footer
                .btn.btn-danger.pull-left(data-ng-click="ok()") Borrar
                .btn.btn-info(data-ng-click="cancel()") Cancelar


        script(type="text/ng-template", id="hardDeleteUserModal.html")
            
            .modal-header
                    h3.modal-title Borrado definitivo de usuario

            .modal-body
                span ¿Estás seguro de que deseas borrar a 
                    b {{userToDelete.username}} 
                    span definitivamente ?
                    i Se perderá toda la información referente a él, incluyendo participaciones en torneos, etc
            .modal-footer
                .btn.btn-danger.pull-left(data-ng-click="ok()") Borrar definitivamente
                .btn.btn-info(data-ng-click="cancel()") Cancelar


        script(type="text/ng-template", id="retrieveUserModal.html")
            
            .modal-header
                    h3.modal-title Recuperación de usuario

            .modal-body
                span ¿Estás seguro de que deseas recuperar a 
                    b {{userToRetrieve.username}} 
                    span ?
            .modal-footer
                .btn.btn-success.pull-left(data-ng-click="ok()") Recuperar
                .btn.btn-info(data-ng-click="cancel()") Cancelar


        script(type="text/ng-template", id="detailUserModal.html")
            
            .modal-header
                    h3.modal-title Detalle de usuario

            .modal-body
                div
                    b id: 
                    span {{userToShow.id}}
                div
                    b Nick: 
                    span {{userToShow.username}}
                div
                    b Plaza: 
                    span {{userToShow.place}}
                div
                    b Rol: 
                    span {{userToShow.role}}
                div
                    b Creado: 
                    span {{userToShow.created_at | date:'dd/MM/yyyy - HH:mm:ss'}}
                div
                    b Modificado: 
                    span {{userToShow.last_modified | date:'dd/MM/yyyy - HH:mm:ss'}}
            .modal-footer
                .btn.btn-info(data-ng-click="ok()") Cerrar

    div(data-ng-switch-when="error")
        div(data-ng-include="'pageLoadingError.html'")

    div(data-ng-switch-when="loading")
        div(data-ng-include="'pageLoading.html'")
