.col-md-3

.col-xs-12.col-md-6
        form.form-horizontal(name="passwordForm")
            fieldset
                legend.text-center Cambiar contraseña
                
                h5.text-center Introduce la nueva contraseña
                .form-group(data-ng-class="{'has-error': passwordForm.password.$invalid && passwordForm.password.$dirty, \
                                            'has-success': passwordForm.password.$valid && passwordForm.password.$dirty}")
                    .input-group
                        span.input-group-addon: span.fa.fa-fw.fa-asterisk
                        input.form-control(
                            type='password', 
                            name='password', 
                            placeholder="password", 
                            data-ng-model="newpassword.password", 
                            data-ng-disabled="sending",
                            data-ng-minlength = '6',
                            required
                        )

                .form-group.text-center
                    button.btn.btn-success(
                        type='submit', 
                        data-ng-disabled='passwordForm.$invalid || sending',
                        data-ng-click="changePassword()"
                    )
                            span.fa.fa-circle-o-notch.fa-spin(data-ng-if="sending")
                            span(data-ng-if="!sending") Cambiar

.col-md-3