.col-md-3

.col-xs-12.col-md-6
        form.form-horizontal(name="passwordForm")
            fieldset
                legend.text-center Recuperar contraseña
                
                h5.text-center Introduce tu correo y te enviaremos a él un enlace para recuperar la contraseña
                .form-group(data-ng-class="{'has-error': passwordForm.email.$invalid && passwordForm.email.$dirty, \
                                            'has-success': passwordForm.email.$valid && passwordForm.email.$dirty}")
                    .input-group
                        span.input-group-addon: span.fa.fa-fw.fa-envelope
                        input.form-control(
                            type='email', 
                            name='email', 
                            placeholder="email", 
                            data-ng-model="newpassword.email", 
                            data-ng-disabled="sending",
                            required
                        )

                .form-group.text-center
                    button.btn.btn-success(
                        type='submit', 
                        data-ng-disabled='passwordForm.$invalid || sending',
                        data-ng-click="sendEmail()"
                    )
                            span.fa.fa-circle-o-notch.fa-spin(data-ng-if="sending")
                            span(data-ng-if="!sending") Enviar

.col-md-3